<!-- ===== Header ===== -->
<header id="header">
  <div class="header-container">
    <a href="/index.html" class="logo d-flex align-items-center">
      <img src="https://kaonthu-test-bucket.s3.ap-northeast-1.amazonaws.com/public_assets/pokemon_duck.png"
     alt="Pokémon Duck" style="max-width:40px; height:auto;" />
      <h3 class="sitename ms-2">KAO YU HSIANG</h3>
    </a>

    <nav id="navmenu">
      <ul>
        <!-- ===== 資料庫系統 ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">資料庫系統</span></a>
            <ul>
                <li><a href="/zh/Changgung/NTCMRC.php" class="nav-link scrollto"><span title="symbol">CGRD - 長庚資料庫</span></a></li>
                <li><a href="/zh/TDX/traffic.php" class="nav-link scrollto"><span title="symbol">TDX - 高速公路</span></a></li>
            </ul>
        </li>

        <!-- ===== Chip ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-microchip" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">Chip</span></a>
            <ul>
                <li><a href="/zh/iMQ/verification.php" class="nav-link scrollto"><span title="symbol">IMQ - 驗證</span></a></li>
                <li><a href="/zh/iMQ/firmware.php" class="nav-link scrollto"><span title="symbol">IMQ - 韌體</span></a></li>
            </ul>
        </li>

        <!-- ===== AI ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">AI</span></a>
            <ul>
                <li><a href="/zh/aqa/question.php" class="nav-link scrollto"><span title="symbol">自然語言 - Ollama</span></a></li>
                <li><a href="/zh/stable_diffusion.php" class="nav-link scrollto"><span title="symbol">圖像生成 - Stable Diffusion</span></a></li>
                <li><a href="/zh/aqa/dino/dino.php" class="nav-link scrollto"><span title="symbol">影像辨識 - Dino</span></a></li>

                <!-- 子選單 -->
                <li class="dropdown">
                    <a href="/zh/GUI/GUI.php" class="nav-link scrollto"><span title="symbol">問答展開 - GUI</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/GUI/gemini_CLI/gemini_CLI.php" class="nav-link scrollto"><span title="symbol">Gemini CLI</span></a></li>
                        <li><a href="/zh/GUI/python_GUI/python_GUI.php" class="nav-link scrollto"><span title="symbol">Python GUI</span></a></li>
                        <li><a href="/zh/GUI/debug_loop/debug_loop.php" class="nav-link scrollto"><span title="symbol">Debug Loop</span></a></li>
                        <li><a href="/zh/GUI/ai_news/ai_news.php" class="nav-link scrollto"><span title="symbol">AI News</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- ===== 密碼學 ===== -->
        <li class="dropdown">
            <a href="#" class="nav-link scrollto"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">密碼學</span></a>
            <ul>
                <li class="dropdown">
                    <a href="/zh/aes/AES.php" class="nav-link scrollto"><span title="symbol">AES</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/aes/OFB.php" class="nav-link scrollto"><span title="symbol">OFB</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/zh/ecc/ECC.php" class="nav-link scrollto"><span title="symbol">ECC</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/ecc/Opcode.php" class="nav-link scrollto"><span title="symbol">Opcode</span></a></li>
                        <li><a href="/zh/ecc/ECC2.php" class="nav-link scrollto"><span title="symbol">應用</span></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/zh/pbkdf2/KEY.php" class="nav-link scrollto"><span title="symbol">KEY</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/pbkdf2/pbkdf2.php" class="nav-link scrollto"><span title="symbol">PBKDF2</span></a></li>
                        <li><a href="/zh/pbkdf2/hdkf.php" class="nav-link scrollto"><span title="symbol">HKDF</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- ===== 隨機數分析 ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-bars" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">隨機數分析</span></a>
            <ul>
                <li><a href="/zh/analyzer/analyzer.php" class="nav-link scrollto"><span title="symbol">Visualization Analyzer</span></a></li>
                <li><a href="/zh/intra_hamming/intra_hamming.php" class="nav-link scrollto"><span title="symbol">Intra-Hamming Distance</span></a></li>
                <li><a href="/zh/inter_hamming/inter_hamming.php" class="nav-link scrollto"><span title="symbol">Inter-Hamming Distance</span></a></li>
                <li><a href="/zh/testing/testing.php" class="nav-link scrollto"><span title="symbol">NIST 800-22</span></a></li>
                <li><a href="/zh/entropy/entropy.php" class="nav-link scrollto"><span title="symbol">NIST 800-90B</span></a></li>
                <li><a href="/zh/txt_bin/txt_bin.php" class="nav-link scrollto"><span title="symbol">File Conversion</span></a></li>
            </ul>
        </li>

        <!-- ===== 個人資訊 ===== -->
        <li class="dropdown"><a href="/zh/KAO/KAO.html" class="nav-link scrollto">
            <i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">個人資訊</span></a>
            <ul>
                <li><a href="/zh/user/user.php" class="nav-link scrollto"><span title="symbol">帳號管理</span></a></li>

                <li class="dropdown">
                    <a href="/zh/KAO/KAO.html" class="nav-link scrollto"><span title="symbol">KAO-MAP</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/KAO/kao_job_map.php" class="nav-link scrollto"><span title="symbol">職業技能圖</span></a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/zh/KAO/Career/kao_job_target.php" class="nav-link scrollto"><span title="symbol">KAO-Career</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/KAO/Career/kao_tech_definition.php" class="nav-link scrollto"><span title="symbol">科技業分析</span></a></li>
                        <li><a href="/zh/KAO/Career/kao_job_target_platform.php" class="nav-link scrollto"><span title="symbol">AI 基礎支撐層</span></a></li>
                        <li><a href="/zh/KAO/Career/kao_job_target_models.php" class="nav-link scrollto"><span title="symbol">AI 模型與核心技術層</span></a></li>
                        <li><a href="/zh/KAO/Career/kao_job_target_industry.php" class="nav-link scrollto"><span title="symbol">AI 產業應用層</span></a></li>
                        <li><a href="/zh/KAO/Career/kao_platform_glossary.php" class="nav-link scrollto"><span title="symbol">AI 平台術語表</span></a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/zh/KAO/kao_user_space.php" class="nav-link scrollto"><span title="symbol">其它筆記</span><i class="bi bi-chevron-right"></i></a>
                    <ul>
                        <li><a href="/zh/KAO/others/kao_aws.php" class="nav-link scrollto"><span title="symbol">亞馬遜雲端</span></a></li>
                        <li><a href="/zh/KAO/others/kao_5layers.php" class="nav-link scrollto"><span title="symbol">嵌入式系統理解</span></a></li>
                        <li><a href="/zh/KAO/others/kao_protocol.php" class="nav-link scrollto"><span title="symbol">通訊協議</span></a></li>
                        <li><a href="/zh/KAO/others/kao_IoT.php" class="nav-link scrollto"><span title="symbol">IoT 系統</span></a></li>
                        <li><a href="/zh/KAO/others/kao_sd.php" class="nav-link scrollto"><span title="symbol">方案轉職筆記</span></a></li>
                        <li><a href="/zh/KAO/others/kao_sd2.php" class="nav-link scrollto"><span title="symbol">方案轉職歷程記錄</span></a></li>
                        <li><a href="/zh/KAO/others/kao_pbkdf2.php" class="nav-link scrollto"><span title="symbol">PBKDF2</span></a></li>
                        <li><a href="/zh/KAO/others/kao_ld_preload.php" class="nav-link scrollto"><span title="symbol">OpenSSL LD_PRELOAD</span></a></li>
                        <li><a href="/zh/KAO/others/kao_se_engine.php" class="nav-link scrollto"><span title="symbol">OpenSSL Engine Plugin</span></a></li>
                        <li><a href="/zh/KAO/others/user_vs_kernel_crypto.php" class="nav-link scrollto"><span title="symbol">學習筆記紀錄</span></a></li>
                        <li><a href="/zh/KAO/others/kao_fish.php" class="nav-link scrollto"><span title="symbol">魚菜共生系統</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- ===== 系統 ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">系統資訊</span></a>
            <ul>
                <li><a href="/zh/system.html" class="nav-link scrollto"><span title="symbol">系統資訊</span></a></li>
                <li><a href="/zh/AWS/S3.html" class="nav-link scrollto"><span title="symbol">S3 儲存貯體</span></a></li>
                <li><a href="/zh/AWS/API_Gateway.html" class="nav-link scrollto"><span title="symbol">API 閘道</span></a></li>
                <li><a href="/zh/AWS/Lambda.html" class="nav-link scrollto"><span title="symbol">Lambda 函數</span></a></li>
                
                <li><a href="/zh/AWS/AWS.html" class="nav-link scrollto"><span title="symbol">亞馬遜雲端</span></a></li>
                <li><a href="/zh/AWS/AWS2.html" class="nav-link scrollto"><span title="symbol">亞馬遜雲端2</span></a></li>
            </ul>
        </li>

        <!-- ===== 測試區塊 ===== -->
        <li class="dropdown"><a href="#" class="nav-link scrollto">
            <i class="fa fa-flask" aria-hidden="true"></i>&nbsp;&nbsp;<span title="symbol">測試區塊</span></a>
            <ul>
                <li><a href="/zh/Test/test.html" class="nav-link scrollto"><span title="symbol">Test Page</span></a></li>
            </ul>
        </li>

      </ul>
    </nav>

    <!-- 🔧 預留右側空間（未來可放登入 / 搜尋 / AI 助理等） -->
    <div class="header-right-placeholder"></div>

  </div>
</header>